<div xmlns="http://www.w3.org/1999/html">
    <h3 class="text-center">Retrieve String</h3>

    <div class="panel panel-default">
        <div class="panel-heading">Retrieve String</div>
        <div class="panel-body">
            <form role="form">
                <a class="btn btn-default" id="retrieveButton" ng-click="retrieveString()">Get String</a>
                <div>
                    </br><textarea readonly rows="10" cols="50" >{{queryObject}}</textarea>
                </div>
            </form>
        </div>
    </div>

</div>
